
<!--end content-->
<footer>
    <div class="container">
        <center>
            <img src="http://amoogli.com/static/admin/img/logo.png" class="logo-footer img-responsive" style="margin-top: 60px;">
        </center>
        <center>
            <label><span><b>Creared by: </b></span><a href="http://www.amoogli.com" target="blank" style="color:#fff">Amoogli.com</a></label>
        </center>
    </div>
</footer>
<style type="text/css">
    .container div div img{
        width:100% !important;
    }
</style>
<script type="text/javascript">
    $('img').addClass('img-responsive');
</script>

</body>


</html>
