
<!--end content-->
<footer>
    <div class="container">
        <div class="hidden-xs col-sm-4 col-md-4">
            
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <span>
                <center>
                    <img src="http://amoogli.com/static/admin/img/logo.png" class="logo-footer img-responsive">
                </center>
            </span>
            <center>
                <label><span><b>Creared by adsjfhaksjfh</b></span><a href="http://www.amoogli.com" target="blank">Amoogli.com</a></label>
            </center>
        </div>
        <div class="hidden-xs col-sm-4 col-md-4">
            
        </div>
    </div>
</footer>
<style type="text/css">
    .container div div img{
        width:100% !important;
    }
</style>

<script type="text/javascript">
    $('img').addClass('img-responsive');
</script>
</body>


</html>
